
body{
    text-align: center;
    font-family: 'Merriweather', serif;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom:300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.top-container{
    position: relative;
    padding-top: 100px;
    color: #EAF6F6;
    background-color: #E4F9F5;
}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.profilepicture{
    height:200px;
    width:200px;
    padding-top: 30px;
}
.fullstack{
    width:25%;
    float: left;
    margin-right: 20px;
}
.communication{
    width:25%;
    float: right;
    margin-left: 20px;
}
.footer-link{
    color: #11999E;
}
.programmer{
    font-weight: normal;
}
.skill-row{
   margin:100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.mountain{
    padding-bottom: 30px;
}
.intro{
    color: #40514E;
    padding-bottom: 30px;
}
hr{
    background-color:#EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
.footer-link-last{
    color: #EAF6F6;
    padding-top: 10px;
}
.middle-container{
    background: white;
    padding-bottom: 20px;
}
.bottom-container{
    background: #66BFBF;
}
.BUTTON_DJD {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #07B7B7);
    background-image: -moz-linear-gradient(top, #66BFBF, #07B7B7);
    background-image: -ms-linear-gradient(top, #66BFBF, #07B7B7);
    background-image: -o-linear-gradient(top, #66BFBF, #07B7B7);
    background-image: -webkit-gradient(to bottom, #66BFBF, #07B7B7);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #EAF6F6;
    font-family: serif;
    font-weight: 500;
    padding: 13px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 12px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding-bottom: 13px;
 }
 
 .BUTTON_DJD:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1890c7, #093e7a);
    background-image: -moz-linear-gradient(top, #1890c7, #093e7a);
    background-image: -ms-linear-gradient(top, #1890c7, #093e7a);
    background-image: -o-linear-gradient(top, #1890c7, #093e7a);
    background-image: -webkit-gradient(to bottom, #1890c7, #093e7a);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .skills{
    padding-bottom: 50px;
 }
 .contact-me{
     padding-bottom: 30px;
 }
 .bottom-container{
 padding-top: 30px;
    padding-bottom: 30px;
 }
.desc{
    padding-bottom: 10px;
}